:root {
    --rowNum: 4;
    --colNum: 5;
    --gridHeight: (var(--colNum)*20)px;
}

body {
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.middle {
    display: flex;
    flex-flow:column nowrap;
    flex:auto;
    margin-top:10px;
    background-color: white;
}
.header{
    display: flex;
    flex:auto;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    
    margin-right: -5px;
    background-color: gray;
    width: auto;
    border:2px solid green;
}
.sidebar {
    display: flex;
    flex: auto;
    margin-right: auto;
    margin-top: -5px;
    margin-left: -5px;
    margin-right: 2px;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: fit-content;
    height: 95vh;
    background-color: grey;
    border: 2px solid green;
}
.sideBtn {
    display:flex;
    justify-content: center;
    align-items: center;
    
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
}


#gridMaker {
    background-color: aqua;
}

.gridBox {
    height: 400px;
    width:400px;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    display: grid;
    gap:2px;
    grid-auto-flow: row;
    grid-template-columns: repeat(var(--colNum), auto);
    grid-template-rows: repeat(var(--rowNum), auto);
    justify-content: stretch;
    align-items: stretch;
     
}
.grid {
    display: flex;
    flex: 1 1 10px;
    border: 2px solid red;
    flex-flow: row wrap;
    background-color: green;
}
